.margin-10{
    margin: 10px;
}
.padding-10{
    padding: 10px;
}
.border-1{
    border: 1px solid #a6a6a6;
}
.border-radius-4{
    border: 1px solid #ffdd00;
    border-radius: 4px;
}
.fluid{
    width: 100%;
    height: 100%;
}
.fluid-height{
    height: 100%;
}
.fluid-width{
    width: 100%;
}
.bg-yellow{
    background-color: #ffdd00;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-8{
    margin-left: 8px;
}
.text-center{
    text-align: center;
}
.margin-50{
    margin-left: 50px;
}
.margin-bottom{
    margin-bottom: 1px;
}
p{
    margin: 0;
    padding: 5px;
}
.date{
    color: #999;
    border-radius: 4px;
    height: 34px;
    width: 20%;
    line-height: 34px;
    border: 1px solid #ccc;
    padding-left:12px;
}
.text-size-35{
    font-size: 35px;
}
.text-size-25{
    font-size: 25px;
}
.room-img{
    padding-top: 16px;
    height: 450px;
}
.room-smallimg{
    padding-bottom: 15px;
    width: 350px;
    height: 210px;
}
.room-img img:hover{
    padding-bottom: 15px;
    transition: transform 0.5s;
    transform: scale(1.05);
}
.room-bigpic{
    width: 730px;
    height: 410px;
}
.overflow-hidden{
    overflow: hidden;
}
.city{
    text-align: center;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #c0c0c9;
}
.city:hover {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: black;
}
.scale{
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    margin-top: 5px;
    color: gray;
}
.hdetail{
    height: 45px;
    line-height: 45px;
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 800;
}
.content{
    /*float: left;*/
    margin-right: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.head-img{
    width: 50px;
    height: 50px;
}
.user-content{
    margin-left: 20px;
    font-size: 15px;
}
.score{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: Consolas;
    font-size: 18px;
    /*background-color: black;*/
    color: white;
}
.color-yellow{
    color: #ffdd00;
}
.price{
    margin-top: 20px;
    color: red;
    font-weight: 800;
    font-size: 25px;
}
.btn-sub{
    margin-left: 65%;
}