.navbar{
    color: rgb(3,187,122);
}
.nav_top{
    margin-left: 1%;
    font-weight: bold;
    padding-bottom: 1%;
}
.nav_bottom{
    margin-left: 1%;
    font-weight: bold;
    text-align: center;
}
.search{
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}
img{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.page-bar{
    margin-top:20px;
    margin-bottom:20px;
}
ul,li{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none
}
.page-bar li:first-child>a {
    margin-left: 0px
}
.page-bar a{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
.page-bar a:hover{
    background-color: #eee;
}
.page-bar a.banclick{
    cursor:not-allowed;
}
.page-bar .active a{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}