<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>管理界面</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="../css/user/ownerOrder.css">
</head>
<body>
<div id="manage">
    <header>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">在线民宿平台</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="manage.html" v-if="ifLogin==true">管理 <span class="sr-only"></span></a></li>
                        <li><a href="#" v-if="ifLogin==false" @click="toLogin">登录</a></li>
                        <li><a href="#" v-if="ifLogin==true" @click="logout">登出</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <table id="users" class="table table-hover table-responsive">
            <caption>所有用户</caption>
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>用户密码</th>
                <th>用户类型</th>
                <th>用户昵称</th>
                <th>删除状态</th>
            </tr>
            <tr v-for="userInfo in userInfoList">
                <td>{{userInfo.userId}}</td>
                <td>{{userInfo.userName}}</td>
                <td>{{userInfo.userPwd}}</td>
                <td>{{userInfo.userType}}</td>
                <td>{{userInfo.nickname}}</td>
                <td>
                    <a v-if="userInfo.delFlag==1" v-on:click="resetUser(userInfo.userId)" class="btn btn-danger">已删除</a>
                    <a v-if="userInfo.delFlag==0" v-on:click="deleteUser(userInfo.userId)" class="btn btn-success">未删除</a>
                </td>
            </tr>
        </table>
        <table id="orders" class="table table-hover table-responsive">
            <caption>所有订单</caption>
            <tr>
                <th>订单ID</th>
                <th>用户ID</th>
                <th>民宿主人ID</th>
                <th>创建时间</th>
                <th>预定时间</th>
                <th>入住时间</th>
                <th>入住天数</th>
                <th>金额</th>
                <th>删除状态</th>
            </tr>
            <tr v-for="orderInfo in orderInfoList">
                <td>{{orderInfo.orderId}}</td>
                <td>{{orderInfo.userId}}</td>
                <td>{{orderInfo.ownerId}}</td>
                <td>{{orderInfo.createDate}}</td>
                <td>{{orderInfo.reserveDate}}</td>
                <td>{{orderInfo.liveDate}}</td>
                <td>{{orderInfo.lastDays}}</td>
                <td>{{orderInfo.money}}</td>
                <td>
                    <a v-if="orderInfo.delFlag==1" v-on:click="resetOrder(orderInfo.orderId)" class="btn btn-danger">已删除</a>
                    <a v-if="orderInfo.delFlag==0" v-on:click="deleteOrder(orderInfo.orderId)" class="btn btn-success">未删除</a>
                </td>
            </tr>
        </table>
        <table id="rooms" class="table table-hover table-responsive">
            <caption>所有房源</caption>
            <tr>
                <th>房间ID</th>
                <th>民宿主人ID</th>
                <th>房间名</th>
                <th>详细描述</th>
                <th>房间位置</th>
                <th>房间价格</th>
                <th>是否可用</th>
                <th>删除状态</th>
            </tr>
            <tr v-for="roomInfo in roomInfoList">
                <td>{{roomInfo.roomId}}</td>
                <td>{{roomInfo.roomOwner}}</td>
                <td>{{roomInfo.roomName}}</td>
                <td>{{roomInfo.description}}</td>
                <td>{{roomInfo.location}}</td>
                <td>{{roomInfo.roomPrice}}</td>
                <td>
                    <a v-if="roomInfo.isAvailable==1" v-on:click="disableRoom(roomInfo.roomId)" class="btn btn-success">可用</a>
                    <a v-if="roomInfo.isAvailable==0" v-on:click="enableRoom(roomInfo.roomId)" class="btn btn-danger">不可用</a>
                </td>
                <td>
                    <a v-if="roomInfo.delFlag==1" v-on:click="resetRoom(roomInfo.roomId)" class="btn btn-danger">已删除</a>
                    <a v-if="roomInfo.delFlag==0" v-on:click="deleteRoom(roomInfo.roomId)" class="btn btn-success">未删除</a>
                </td>
            </tr>
        </table>
        <table id="comments" class="table table-hover table-responsive">
            <caption>所有评论</caption>
            <tr>
                <th>评论ID</th>
                <th>用户ID</th>
                <th>房间ID</th>
                <th>评论星级</th>
                <th>评论内容</th>
                <th>评论时间</th>
                <th>删除状态</th>
            </tr>
            <tr v-for="commentInfo in commentInfoList">
                <td>{{commentInfo.commentId}}</td>
                <td>{{commentInfo.userId}}</td>
                <td>{{commentInfo.roomId}}</td>
                <td>{{commentInfo.rateStars}}</td>
                <td>{{commentInfo.content}}</td>
                <td>{{commentInfo.createDate}}</td>
                <td>
                    <a v-if="commentInfo.delFlag==1" v-on:click="resetComment(commentInfo.commentId)" class="btn btn-danger">已删除</a>
                    <a v-if="commentInfo.delFlag==0" v-on:click="deleteComment(commentInfo.commentId)" class="btn btn-success">未删除</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    let manage=new Vue({
        el:"#manage",
        data:{
            userInfoList:[],
            orderInfoList:[],
            roomInfoList:[],
            commentInfoList:[],
            userInfo:null,
            orderInfo:null,
            roomInfo:null,
            commentInfo:null,
            ifLogin:false,
            order:{
                checkindate:"",
                checkoutdate:"",
                realpay:0,
                hid:"",
                uid:""
            },
            error:{
                isActive:false,
                msg:""
            }
        },
        methods:{
            toLogin:function(){
                location.href="login.html";
            },
            getUserInfo:function(pageNum,pageSize){
                $.ajax({
                    url: "../admin/getUserInfo",
                    type: "GET",
                    data:{
                        pageNum:pageNum,
                        pageSize:pageSize
                    },
                    success: function (result) {
                        if (result.code === 0) {
                            manage.userInfoList = result.data.list;
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            getOrderInfo:function(pageNum,pageSize){
                $.ajax({
                    url: "../admin/getOrderInfo",
                    type: "GET",
                    data: {
                        pageNum:pageNum,
                        pageSize:pageSize
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            manage.orderInfoList = result.data.list;
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
            getRoomInfo:function(pageNum,pageSize){
                $.ajax({
                    url: "../admin/getRoomInfo",
                    type: "GET",
                    data: {
                        pageNum:pageNum,
                        pageSize:pageSize
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            manage.roomInfoList = result.data.list;
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            getCommentInfo:function(pageNum,pageSize){
                $.ajax({
                    url: "../admin/getCommentInfo",
                    type: "GET",
                    data: {
                        pageNum:pageNum,
                        pageSize:pageSize
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            manage.commentInfoList = result.data.list;
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            resetUser:function(userId){
                $.ajax({
                    url: "../admin/resetUser",
                    type: "GET",
                    data: {
                        userId:userId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            deleteUser:function(userId){
                $.ajax({
                    url: "../admin/deleteUser",
                    type: "GET",
                    data: {
                        userId:userId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            resetOrder:function(orderId){
                $.ajax({
                    url: "../admin/resetOrder",
                    type: "GET",
                    data: {
                        orderId:orderId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            deleteOrder:function(orderId){
                $.ajax({
                    url: "../admin/deleteOrder",
                    type: "GET",
                    data: {
                        orderId:orderId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            disableRoom:function(roomId){
                $.ajax({
                    url: "../owner/disableRoom",
                    type: "GET",
                    data:{
                        roomId:roomId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            enableRoom:function(roomId){
                $.ajax({
                    url: "../owner/enableRoom",
                    type: "GET",
                    data:{
                        roomId:roomId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            resetRoom:function(roomId){
                $.ajax({
                    url: "../admin/resetRoom",
                    type: "GET",
                    data:{
                        roomId:roomId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            deleteRoom:function(roomId){
                $.ajax({
                    url: "../admin/deleteRoom",
                    type: "GET",
                    data:{
                        roomId:roomId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            resetComment:function(commentId){
                $.ajax({
                    url: "../admin/resetComment",
                    type: "GET",
                    data:{
                        commentId:commentId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            deleteComment:function(commentId){
                $.ajax({
                    url: "../admin/deleteComment",
                    type: "GET",
                    data:{
                        commentId:commentId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 0) {
                            alert("修改成功！");
                        }
                        else{
                            alert("修改失败！");
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                })
            },
            isLogin:function(){
                $.ajax({
                    url: "../user/isLogin",
                    type: "GET",
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        if (result.code === 1) {
                            manage.ifLogin = false;
                            location.href="login.html";
                        }else if(result.code === 0){
                            manage.ifLogin = true;
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
            logout:function () {
                $.ajax({
                    url: "../user/logout",
                    type: "POST",
                    data:{},
                    dataType:"json",
                    success:function (result) {
                        if (result.code === 0) {
                            location.href = "login.html";
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
        },
        computed: {
            indexs: function(){
                var left = 1;
                var right = this.all;
                var ar = [];
                if(this.all>= 5){
                    //这里最大范围从3到6，如果到达7，那么下边加2变成9，已经超过最大的范围值
                    if(this.cur > 3 && this.cur < this.all-1){
                        //以4为参考基准，左面加2右边加2
                        left = this.cur - 2
                        right = this.cur + 2
                    }else{
                        if(this.cur<=3){
                            left = 1
                            right = 5
                        }else{
                            right = this.all
                            left = this.all -4
                        }
                    }
                }
                while (left <= right){
                    ar.push(left)
                    left ++
                }
                console.log(ar);
                return ar
            },
        },
        mounted:function () {
            this.isLogin();
            this.getUserInfo(1,30);
            this.getRoomInfo(1,30);
            this.getCommentInfo(1,30);
            this.getOrderInfo(1,30);
        }
    });
</script>
</body>
</html>
