<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.mapper.UserMapper">
    <select id="getUserById" resultType="com.homestay.entity.User">
        SELECT * FROM tb_user WHERE user_id=#{id}
    </select>
    <select id="getUserByInfo" resultType="com.homestay.entity.User">
        SELECT * FROM tb_user WHERE user_name=#{username} AND user_pwd=#{password}
    </select>
</mapper>