<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.mapper.UserMapper">
    <select id="getUserByUsername" resultType="com.homestay.pojo.User">
        SELECT * FROM tb_user WHERE user_name=#{username} AND del_flag = 0
    </select>
    <select id="getUserById" resultType="com.homestay.pojo.User">
        SELECT * FROM tb_user WHERE user_id=#{id} AND del_flag = 0
    </select>
    <select id="getPasswordByUsername" resultType="java.lang.String">
        SELECT user_pwd FROM tb_user WHERE user_name=#{username} AND del_flag = 0
    </select>
    <select id="getUsersByUsername" resultType="com.homestay.pojo.User">
        SELECT * FROM tb_user WHERE user_name LIKE '%${username}%' AND del_flag = 0
    </select>
    <select id="list" resultType="com.homestay.pojo.User">
        SELECT * FROM tb_user WHERE del_flag = 0
    </select>

    <!--插入时有默认值时使用默认值-->
    <sql id="userColumns">
        <trim suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="userPwd != null">user_pwd,</if>
            <if test="userType != null">user_type,</if>
            <if test="gender != null">gender,</if>
            <if test="delFlag != null">del_flag</if>
        </trim>
    </sql>
    <sql id="userValues">
        <trim suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="userPwd != null">#{userPwd},</if>
            <if test="userType != null">#{userType},</if>
            <if test="gender != null">#{gender},</if>
            <if test="delFlag != null">#{delFlag}</if>
        </trim>
    </sql>
    <insert id="insertUser" parameterType="com.homestay.pojo.User"
            keyColumn="user_id" keyProperty="userId">
        INSERT INTO tb_user(<include refid="userColumns"/>)
        VALUES (<include refid="userValues"/>)
    </insert>

    <update id="deleteUserByUsername">
        UPDATE tb_user SET del_flag=1 WHERE user_name=#{username}
    </update>
    <update id="deleteUserById">
        UPDATE tb_user SET del_flag=1 WHERE user_id=#{id}
    </update>
    <update id="resetUserByUsername">
        UPDATE tb_user SET del_flag=0 WHERE user_name=#{username}
    </update>
    <update id="resetUserById">
        UPDATE tb_user SET del_flag=0 WHERE user_id=#{id}
    </update>
    <update id="resetPasswordByUsername">
        UPDATE tb_user SET user_pwd=#{newPwd} WHERE user_name=#{username} AND del_flag = 0
    </update>
    <update id="updateUser">
        UPDATE tb_user SET user_name=#{userName},user_pwd=#{userPwd},user_type=#{userType},gender=#{gender}
        WHERE user_id=#{userId}
    </update>
</mapper>